@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Dale a tu fiesta<br>la diversión que necesita.</h1>
                <p>
                    Cervercería Hermanos Rocamayo <br />
                    ¿Ya encargaste tu cerveza? Elegí la que más te guste ...
                </p>
                <a asp-controller="Home" asp-action="ListarProductos" class="btn">Explorar Ahora &#8594;</a>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <img src="images/image1.svg" style="width: 400px;height: 400px;">
            </div>
        </div>
    </div>
    

    <!-- Art destacados-->
    <div class="categories">
        <div class="small-container">
            <h2 class="title">Categorías Destacadas</h2>
            <div class="row">
                <div class="col-3">
                    <img src="/Upload/Logos/firma.jpg" alt="">
                    
                </div>
                <div class="col-3">

                    <img src="/Upload/Logos/baners3.jpg" alt="">

                </div>
                <div class="col-3">
                    <img src="/Upload/Logos/mariaMalta.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- productos destacados destacados-->

    <div class="small-container">
        <h2 class="title">Productos Destacados</h2>
        <div class="row">
            <div class="col-4">
                <img src="/Upload/Productos/Imagenes/chocoScout.jpg">
                <h4>Choco Scout</h4>
                <p>$230.00</p>
            </div>

            <div class="col-4">
                <img src="/Upload/Productos/Imagenes/dorada.jpg">
                <h4>Dorada</h4>
                <p>$220.00</p>
            </div>

            <div class="col-4">
                <img src="/Upload/Productos/Imagenes/honey.jpg">
                <h4>Honey</h4>
                <p>$200.00</p>
            </div>

            <div class="col-4">
                <img src="/Upload/Productos/Imagenes/ipa.jpg">
                <h4>IPA</h4>
                <p>$220.00</p>
            </div>

        </div>
        <!--<h2 class="title">últimos productos</h2>
        <div class="row">
            <div class="col-4">
                <img src="images/product-5.jpg">
                <h4>Zapatillas Grises</h4>
                <div class="rating">-->
                    <!-- icono de font awesome-->

                    <!--<i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$280.00</p>
            </div>



            <div class="col-4">
                <img src="images/product-6.jpg">
                <h4>Remera Negra</h4>
                <div class="rating">-->
                    <!-- icono de font awesome-->
                    <!--<i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>$100.00</p>
            </div>

            <div class="col-4">
                <img src="images/product-7.jpg">
                <h4>Medias</h4>
                <div class="rating">-->
                    <!-- icono de font awesome-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>

                </div>
                <p>$50.00</p>
            </div>

            <div class="col-4">
                <img src="images/product-8.jpg">
                <h4>Reloj Negro</h4>
                <div class="rating">-->
                    <!-- icono de font awesome-->
                    <!--<i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>$500.00</p>
            </div>

        </div>-->
    </div>
    <!-- Ofertas-->
    @*<div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="./images/exclusive.png" alt="">
                </div>

                <div class="col-2">
                    <p>Exclusivamente Disponible en RedStore</p>
                    <h1>Smart Band</h1>
                    <small>
                        Xiaomi Mi Band 4 Pulsera de Actividad,Monitores de Actividad,Pantalla Pulsómetro Fitness Tracker,
                        Pulsera Smartwatch con 0.95 Pantalla AMOLED.
                    </small>

                    <a href="" class="btn">Comprar Ahora &#8594;</a>

                </div>


            </div>

        </div>

    </div>*@

    <!--- testimonios-->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quis fugit at, ipsa similique sunt nulla
                        aliquid harum, praesentium obcaecati magni et optio ut non.
                    </p>
                    <div class="rating">
                        <!-- icono de font awesome-->
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="./images/user-1.png" alt="">
                    <h3>Sean Parker</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quis fugit at, ipsa similique sunt nulla
                        aliquid harum, praesentium obcaecati magni et optio ut non.
                    </p>
                    <div class="rating">
                        <!-- icono de font awesome-->
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="./images/user-2.png" alt="">
                    <h3>John Doe</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quis fugit at, ipsa similique sunt nulla
                        aliquid harum, praesentium obcaecati magni et optio ut non.
                    </p>
                    <div class="rating">
                        <!-- icono de font awesome-->
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="./images/user-3.png" alt="">
                    <h3>Pepper Potts</h3>
                </div>
            </div>
        </div>
    </div>
</div>
